.App {
  text-align: center;
}

.Logo {
  height: 15vmin;

}

.Spin {
  height: 30vmin;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.App-header {
  background-color: #ECF0F9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  color: #4D4A4A;
  font-size: calc(10px + 1vmin);
}

.Selling {
  font-family: 'Noto Sans JP', sans-serif;
  display:grid;
  grid-gap: 2vw;
  grid-template-columns: 70vh 70vh;
  margin-top: 10vh;
  color: #4D4A4A;

  width: 50%;
  text-align: left;
  margin: 0em;
  font-size: calc(5px + 2vmin);
}

.Selling p{
  margin: 5px; 
}

.About {
  width: 90%
}

.Navbar {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  top: 1%;
  width: 90%;
  background-color: #34C54C;
  text-align: left; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border: 3px outset #12A412;
  border-radius: 10px;
}

.Navbar a{
  color: #3D3B3B;
  position: relative;
  top: 17px;
  left: 20px;
  text-decoration: none;
}

.Navbar a:focus {
  color: white;
}

.Sign {
  padding-right: 10%;
}

.Sign-links {
  padding-right: 10%;
}

.Rating {
  color: black;
  display: grid;
  grid-gap: 10vw;
  grid-template-columns: 30vh 30vh;  
}

.Rate-box {

}
