html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.Logo {
  height: 15vmin;

}

.Spin {
  height: 30vmin;
  -webkit-animation:spin 10s linear infinite;
  -moz-animation:spin 10s linear infinite;
  animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.App-header {
  background: linear-gradient(90deg, rgba(229,229,255,1) 0%, rgba(235,238,233,1) 44%, rgba(217,217,217,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  color: #4D4A4A;
  font-size: calc(10px + 1vmin);
}

.Selling {
  margin-top: 20vh;
  font-family: 'Noto Sans JP', sans-serif;
  display:grid;
  grid-gap: 2vw;
  grid-template-columns: 70vh 70vh;
  margin-top: 10vh;
  color: #4D4A4A;
  width: 50%;
  text-align: left;
  margin: 0em;
  font-size: calc(5px + 2vmin);
}

.Selling p{
  margin: 5px; 
  font-family: 'Noto Sans JP', sans-serif;
}

.Spacing {
  font-family: 'Roboto Slab', serif;
  margin-top: 15vh;
  color: black;
  margin-bottom: 15vh;
}

.About {
  width: 90%
}

.Navbar {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  top: 1%;
  width: 90%;
  background-color: #34C54C;
  text-align: left; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border: 3px outset #12A412;
  border-radius: 10px;
}

.Navbar a{
  color: #3D3B3B;
  position: relative;
  top: 17px;
  left: 20px;
  text-decoration: none;
}

.Navbar a:hover {
  color: #34F674;
}

.Navbar a:focus {
  color: white;
}

.Sign {
  padding-right: 10%;
}

.Sign-links {
  padding-right: 10%;
}

.Rating {
  font-size: calc(10px + 1vmin);
  color: black;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: 30vh 30vh;  
}

.Black-text {
  color: black;
}

.Form-class form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Form-class input {
  border: 1px solid #27CA3A;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #08C049;
  border-radius: .25rem;
  padding: .75rem 1rem;
}

.Form-class button {
  display: flex;
  align-self: center;
  margin-top: 2vh;
}

::placeholder {
  color: #2E2B2B;
}
.Sign-up {
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color:#77b55a;
  border-radius:4px;
  border:1px solid #4b8f29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.Sign-up:hover {
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color:#72b352;
}
.Sign-up:active {
  position:relative;
  top:1px;
}

.Register-form {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  margin-bottom: 20vh;
  width: 20vw;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}
.Register-checkbox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.Register-checkbox input {
    vertical-align:middle;
}

input[type=checkbox] { 
  vertical-align: middle; 
  position: relative; 
  bottom: 1px;
  right: 2vw;
  transform: scale(1.5);
} 

.Inputs div {
  margin-bottom: 4vh;
}

.alert {
  padding: 20px;
  background-color: red;
  color: white;
  margin-bottom: 15px;
}

.hide {
  display: none;
}